@model Category
<div class="forms">
    <h2 class="title1">Product Add</h2>
    <div class=" form-grids row form-grids-right">
        <div class="widget-shadow " data-example-id="basic-forms">
            <div class="form-title">
                <h4>Create New Product :</h4>
            </div>
            <div class="form-body">
                <form class="form-horizontal" method="post">
                    <div class="form-group">
                        <label for="role" class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="Title"
                                   id="role" placeholder="Product Title" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="role" class="col-sm-2 control-label">Link</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="Name"
                                   id="role" placeholder="Product Link" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="role" class="col-sm-2 control-label">Category</label>
                        <div class="col-sm-9">
                            <select asp-items="@ViewBag.categoryValues" asp-for="@Model.Id"
                                    name="CategoryId"
                                    class="form-control" required>
                                <option>Select a category</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-offset-2">
                        <button type="submit" class="btn btn-default">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
