@model IEnumerable<User>
@inject UserManager<User> userManager;
<div class="main-page">
    <div class="tables">
        <h2 class="title1">Users</h2>
        <div class="table-responsive bs-example widget-shadow">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <span class="badge badge-info">@item.Email</span>
                            </td>
                            <td>
                                @{
                                    var userRoles = await userManager.GetRolesAsync(item);
                                    foreach (var role in userRoles)
                                    {
                                        <span class="badge badge-success">@role</span>
                                    }
                                }
                            </td>
                            <td>
                                <a href="/admin/userrole/addrole/@item.Id"
                                   class="btn btn-warning btn-sm btn-block">Add role</a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
